{# TODO: Build twitter index page, it should be a panel page where user can see a left navigation and center area #}
{% extends "twitter/base.html" %}

{% block centraal_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% include 'twitter/sidebar.html' %}
            </div>

            <form method="POST">{% csrf_token %}
                <div class="col-md-9">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Following options<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <input type="submit" name="form-type" value="Follow back">
                            </li>
                            <li>
                                <input type="submit" name="form-type" value="Unfollow">
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}