{% extends "twitter/base.html" %}
{% load i18n %}

{% block centraal_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% include 'twitter/sidebar.html' %}
            </div>
            <div class="col-md-10">
                <h1>{% trans 'Dashboard to be placed here...' %}</h1>

                <h3>{% trans 'Scheduled orders' %}</h3>
                <table class="table table-striped">

                    <tr>
                        <td>{% trans 'Label' %}</td>
                        <td>{% trans 'Status' %}</td>
                        <td>{% trans 'Last run' %}</td>
                        <td>{% trans 'Created at' %}</td>
                    </tr>

                    {% for order in orders %}
                        <tr>
                            <td>{{ order.label }}</td>
                            <td>{{ order.get_status_display }}</td>
                            <td>{{ order.last_run|default_if_none:"Never" }}</td>
                            <td>{{ order.created_at|timesince }} {% trans 'ago' %}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}