{% extends "twitter/base.html" %}
{% load i18n %}

{% block centraal_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% include 'twitter/sidebar.html' %}
            </div>
            <div class="col-md-10">
                <h1>{% trans 'Orders history' %}</h1>
                <hr/>
                <div class="tab-pane" id="orders">
                    {% if orders %}
                        <h3>{% trans 'All orders' %}</h3>
                        <p>{% trans 'Total orders' %} {{ orders.count }}
                            / {% trans 'Total pending' %} {{ total_pending }}</p>
                        <table class="table table-striped table-bordered">

                            <tr>
                                <td>{% trans 'Order' %}</td>
                                <td>{% trans 'Status' %}</td>
                                <td>{% trans 'Created' %}</td>
                            </tr>

                            {% for order in orders %}
                                <tr>
                                    <td>{{ order }}</td>
                                    <td>{{ order.get_status_display }}</td>
                                    <td>{{ order.created_at|timesince }} {% trans 'ago' %}</td>
                                </tr>
                            {% endfor %}

                        </table>
                    {% else %}
                        <h3>{% trans 'No orders found, create your first here' %}</h3>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
{% endblock %}