{% extends "twitter/base.html" %}
{% load i18n %}

{% block centraal_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% include 'twitter/sidebar.html' %}
            </div>
            <div class="col-md-10">
                <h1>{% trans 'Dashboard to be placed here...' %}</h1>
                <hr/>


                    <div class="tab-pane active" id="scheduled-orders">
                        {% if scheduled_orders %}
                            <h3>{% trans 'Scheduled orders' %}</h3>
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>{% trans 'Label' %}</td>
                                    <td>{% trans 'Status' %}</td>
                                    <td>{% trans 'Last run' %}</td>
                                    <td>{% trans 'Created' %}</td>
                                    <td>{% trans 'Actions' %}</td>
                                </tr>

                                {% for order in scheduled_orders %}
                                    <tr>
                                        <td>{{ order.label }}</td>
                                        <td>{{ order.get_status_display }}</td>
                                        <td>{{ order.last_run|default_if_none:"Never" }}</td>
                                        <td>{{ order.created_at|timesince }} {% trans 'ago' %}</td>
                                        <td>
                                            <a href="{% url 'twitter-delete' order.id %}">{% trans 'Delete' %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                        {% else %}
                            <h3>{% trans 'No orders found, create your first here' %}</h3>
                        {% endif %}

                        <div class="pagination">
                            <span class="step-links">
                                {% if scheduled_orders.has_previous %}
                                    <a href="?page={{ scheduled_orders.previous_page_number }}">Previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ scheduled_orders.number }} of {{ scheduled_orders.paginator.num_pages }}
                                </span>

                                {% if scheduled_orders.has_next %}
                                    <a href="?page={{ scheduled_orders.next_page_number }}">Next</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>

            </div>
        </div>
    </div>
{% endblock %}