<h3>Introduction</h3>
<p>djsocial was developed as initiative to create a robotic web based solution for social media, starting with twitter
and expanding later to other channels. Unfortunately, investment was cut off and project decided to be discontinued,
so we moved the project to the open source arena.</p>
<p>We will continue to support it if any issue arises and we will work on a roadmap to build further features and
integration with other social channels in the next period.</p>
<p>At the moment, djsocial is built with twitter integration. With the following functionality</p>
<pre><code>1) Auto follow certain hashtags
2) Auto favorite certain hashtags
3) Auto follow back
4) Auto unfollow backard
</code></pre>
<h3>Setup and Installation</h3>
<p>The solution will only work on <em>postgresql</em> databases, since we are heavily using hstore dictionary fields in our
model design.</p>
<p>to begin clone the project and install the requirements</p>
<pre><code>git clone git@github.com:mo-mughrabi/djsocial.git
pip install -r requirements.txt
cp settings/development.py settings/local_env.py
python manage.py resetdb
</code></pre>
<p>The last commands loads fixture data for groups and the admin user.</p>
<p>To change the admin password use the following command:</p>
<p>```</p>
<blockquote>
<blockquote>
<blockquote>
<p>python manage.py changepassword admin
```</p>
</blockquote>
</blockquote>
</blockquote>
<p>Note that you need to edit the file  settings/local_env.py with :</p>
<pre><code>* Database credentials
* Twitter app cosumer key and secret
</code></pre>
<p>To execute scheduled tasks, celery needs to be running (rabbitmq required):</p>
<p>```</p>
<blockquote>
<blockquote>
<blockquote>
<p>python manage.py celery worker -Q djsocial -B -E --loglevel=INFO
```</p>
</blockquote>
</blockquote>
</blockquote>
<h3>Contributors</h3>
<pre><code>* Mo Mughrabi - Lead developer
* Ahmed Elhamidi - Developer
* Mariusz Kosakowski - Developer
</code></pre>