<h2>Introduction</h2>
<p>djsocial is an opensource software. Planned to launch for twitter and as demand increase both functionality and
social integration</p>
<pre><code>1) Auto follow certain hashtags
2) Auto favorite certain hashtags
3) Auto follow back
4) Auto unfollow backard
5) Schedule tweets
</code></pre>
<h2>Setup and Installation</h2>
<p>First step is to creare a postresql database and create a virtual environment with :</p>
<pre><code>&gt;&gt;&gt; virtualenv djsocial_env
</code></pre>
<p>Second step is to clone the project and install the requirements</p>
<pre><code>1) git clone git@github.com:mo-mughrabi/djsocial.git
2) pip install -r requirements.txt
3) cp settings/development.py settings/local_env.py
3) python manage.py resetdb
</code></pre>
<p>The last commands loads fixture data for groups and the admin user.</p>
<p>To change the admin password use the following command in the django shell:</p>
<pre><code>&gt;&gt;&gt; admin = User.objects.get(id=1)
&gt;&gt;&gt; admin.setpassword("new_password")
&gt;&gt;&gt; admin.save()
</code></pre>
<p>Note that you need to edit the file  settings/local_env.py with :</p>
<pre><code>* Database credentials
* Twitter app cosumer key and secret
* Amazon access Key and Secret
</code></pre>
<p>=======</p>
<p>To execute scheduled tasks, celery needs to be running (rabbitmq required):
    &gt;&gt;&gt; python manage.py celery worker -Q djsocial -B -E --loglevel=INFO</p>
<h2>Contributors</h2>
<pre><code>* Mo Mughrabi - Lead developer
* Ahmed Elhamidi - Developer
* Mariusz Kosakowski - Developer
</code></pre>