[program:%(PROJECT_NAME)s]
command=%(VIRTUALENV)s/bin/gunicorn wsgi:application --bind unix:/home/mmughrabi/%(PROJECT_NAME)s.sock
directory=%(PROJECT_PATH)s
user=%(USER)s
autostart=true
autorestart=true
redirect_stderr=true
loglevel=error
stdout_logfile=/var/log/%(PROJECT_NAME)s_gunicorn.log
stderr_logfile=/var/log/%(PROJECT_NAME)s_gunicorn.err.log